@import "../../assets/scss/custom";

.nearAirport {
  &-container-pt {
    padding-top: 140px;

    @include respond(lg) {
      padding-top: 240px;
    }
  }

  &-clip-path {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    @include respond(lg) {
      clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    }
  }

  &-btn-mt {
    margin-top: 20px;

    @include respond(lg) {
      margin-top: 110px;
    }
    @include respond(xxl) {
      margin-top: 200px;
    }
  }

  &-bg-pos {
    background-position: 75% 0%;

    @include respond(sm) {
      background-position: 60% 0%;
    }

    @include respond(md) {
      background-position: 50% 0%;
    }
  }
}

.img-height-setting {
  height: 764px;

  @include respond(lg) {
    height: 1000px;
  }
}
