@import "../../../assets/scss/custom";
.bg-blend-mode-screen {
  background-blend-mode: screen;
}

.card-scroll-width-rwd {
  white-space: nowrap;
  width: 240%;
  @include respond(lg) {
    width: 100%;
  }
}

.card-hover {
  &-spot {
    transition: all 0.5s;
    outline-offset: 16px;
  }

  &:hover &-spot:hover {
    outline: 0.3rem solid $primary;
    transform: scale(1.05) translateY(-5rem);
    box-shadow: 0 1.5rem 4rem rgba(black, 0.5);
    z-index: 20;
  }

  &:hover &-spot:not(:hover) {
    transform: scale(0.95);
  }
}

.card-img-height-rwd {
  height: 368px;
  @include respond(xl) {
    height: 549px;
  }
}
