@import "../../../assets/scss/custom";

.carousel-active {
  opacity: 1 !important;
}

.flightSearch-arrow-position {
  position: absolute;
  right: 0%;
  top: 100%;
  @include respond(lg) {
    transform: translateY(-100%);
    right: 9.4%;
  }
}

.flightSearch-img-rwd-height {
  height: 100%;

  @include respond(lg) {
    height: 358px;
  }
}

.flightSearch-img-rwd-height-2 {
  height: 197px;

  @include respond(lg) {
    height: 358px;
  }
}

.rotate-90 {
  transform: rotate(270deg);
}
