@import "../../../assets/scss/custom";

.footer {
  &__img {
    // width: 50%;
    border-bottom: 4px solid $primary;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-10px);
      border-bottom: 4px solid $dark;
    }
  }
}

// .bg-gray700 {
//   background-color: rgb(206, 212, 218);
// }

.login-input-validate {
  border-bottom: 3px solid transparent;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($primary, 0.1);
    border-bottom: 3px solid green;
  }

  &:focus:invalid {
    border-bottom: 3px solid red !important;

    & + label {
      opacity: 1;
      visibility: visible;
      // opacity: 0;
      // visibility: hidden;
      transform: translateY(4px);
    }
  }

  &-label {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    color: $primary;
    font-weight: bold;

    @include respond(lg) {
      color: $secondary;
    }
  }
}

///FROM SIGNUP
.signup-input-validate {
  border-bottom: 3px solid transparent;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($primary, 0.1);
    border-bottom: 3px solid green;
  }

  &:focus:invalid {
    border-bottom: 3px solid red !important;

    & + label {
      opacity: 1;
      visibility: visible;
      // opacity: 0;
      // visibility: hidden;
      transform: translateY(4px);
    }
  }

  &-label {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    color: $primary;
    font-weight: bold;

    @include respond(lg) {
      color: $secondary;
    }
  }
}
