@import "../../assets/scss/custom";

.formInfo {
  display: block;
  transition: all 0.3s;
  border: 2px solid $secondary;
  box-shadow: none;

  &:focus {
    border: 2px solid $secondary;
    box-shadow: none;
  }

  &:focus:invalid {
    border: 2px solid $danger;
  }

  &::-webkit-input-placeholder {
    color: $secondary;
    font-weight: 700;
  }

  &-label {
    transition: all 0.3s;
    display: block;
  }

  &:placeholder-shown + &-label {
    color: $secondary;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
  }
}
